/*

Main CSS contains all the CSS styles

*/

/*
Imports
*/
@import "_variables.scss";
@import "_mixins.scss";
@import "_base.scss";
@import "_typography.scss";

/*
Main Styles
*/

li[role="presentation"]{
background-color: $light-color;
&.active, &.active a{
background-color: $highlight-color;
}


}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
background-color: $highlight-color;
}